<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DotNetForHtml5.EmulatorWithoutJavascript.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>



<!-- TODO: REMOVE THE FOLLOWING -->
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:6187/Service1.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
          name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>-->
  
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILicensingService"/>
                <binding name="BasicHttpsBinding_ILicensingService">
                    <security mode="Transport"/>
                </binding>
                <binding name="LocalTestBinding_ILicensingService"/>
                <binding name="BasicHttpsBinding_ILicensingService1">
                    <security mode="Transport"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://cshtml5myaccount.azurewebsites.net/LicensingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILicensingService" contract="LicensingServiceReference.ILicensingService" name="BasicHttpsBinding_ILicensingService"/>
            <!--FOR TESTING -->
            <endpoint address="https://localhost:44325/LicensingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILicensingService" contract="LicensingServiceReference.ILicensingService" name="LocalTestBinding_ILicensingService"/>
            <!--<endpoint address="http://localhost:1474//LicensingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILicensingService"
                contract="LicensingServiceReference.ILicensingService" name="LocalTestBinding_ILicensingService" />
            <endpoint address="https://cshtml5myaccount.azurewebsites.net/LicensingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILicensingService1"
                contract="LicensingServiceReference.ILicensingService" name="BasicHttpsBinding_ILicensingService1" />-->
        </client>
    </system.serviceModel>
    
    <userSettings>
        <DotNetForHtml5.EmulatorWithoutJavascript.Properties.Settings>
            <setting name="DisplaySize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DisplaySize_Phone_Orientation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplaySize_Tablet_Orientation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DateOfAssemblyLastSuccessfullyCompiledToJavaScript" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsBypassCORSErrors" serializeAs="String">
                <value>False</value>
            </setting>
        </DotNetForHtml5.EmulatorWithoutJavascript.Properties.Settings>
    </userSettings>
</configuration>
