<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DotNetForHtml5.EmulatorWithoutJavascript.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>

    <userSettings>
        <DotNetForHtml5.EmulatorWithoutJavascript.Properties.Settings>
            <setting name="DisplaySize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DisplaySize_Phone_Orientation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplaySize_Tablet_Orientation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DateOfAssemblyLastSuccessfullyCompiledToJavaScript" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsBypassCORSErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XamlInspectorVisible" serializeAs="String">
                <value>False</value>
            </setting>
        </DotNetForHtml5.EmulatorWithoutJavascript.Properties.Settings>
    </userSettings>
</configuration>
